# Build outputs
Build/
Distribution/
Publish/
Scripts/

# Visual Studio / MonoGame
.vs/
*.user
*.suo
*.cache

# Logs
Logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Package files
*.zip
